@model TutorialDemo.ViewModels.TutorialViewModel
@{
    var textColor = $"#FFEBCD";
    var bgColor = $"#000000";
}

<!-- Tutorial Modal -->
<div id="tutorialModal">
    <div class="modal-content">
        <button class="tutorial-close-button" aria-label="Close">✖</button>
        <div id="tutorial-popup-text">
            <!-- Image or content will be inserted here via JavaScript -->
        </div>
        <!-- Speech Bubble Container -->
        <div class="speech-bubble" id="speechBubble">
            <div class="speech-content">
                <h3 id="speech-header">Header</h3>
                <p id="speech-description">Description goes here.</p>
            </div>
            <button id="speechNextButton">></button>
            <button id="speechSkipButton">Skip</button>
        </div>
    </div>
</div>

<!-- Hidden container for reference images -->
<div id="tutorialImageContainer" style="display: none;">
    @foreach (var tutorialImage in Model.TutorialImages)
    {
        <img data-pointer-type="@tutorialImage.PointerType"
             src="/Images/TrainingTooltips/@tutorialImage.ImageFileName"
             alt="PointerType: @tutorialImage.PointerType">
    }
</div> 